.lore-button {
    margin-top: 250px;
}

.lore {
    margin-top: 50px;
    font-size: 30px;
}

/* CSS */
.button-19 {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

body {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(69, 24, 58, 0.73)), url("/img/bg.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.donate {
    position: absolute;
    top: 10px;
    right: 0;
    width: 200px;
    height: 100px;
}

.donate > a > img {
    max-height: 60px;
    transition: transform 0.2s;
}



.donate > a > img:hover {
    transform: scale(1.05);
}
